{{ define "content" }}

<h1>Camera {{ index .ViewData "ID" }}</h1>

<div class="row">
  <div class="col-md-8">
    <img src="http://localhost:{{ index .ViewData "PORT" }}" width="640" height="480" class="img-responsive"></img>
  </div>
  <div class="col-md-4">
    <h3>Informations</h3>
    <dl class="dl-horizontal">
      <dt>Role</dt>
      <dd><span class="label label-primary">{{ index .ViewData "ROLE" }}</span></dd>
      <dt>Port</dt>
      <dd>{{ index .ViewData "PORT" }}</dd>
      <dt>PID</dt>
      <dd>{{ index .ViewData "PID" }}</dd>
      <dt>Log File</dt>
      <dd>{{ index .ViewData "LOG" }}</dd>
      <dt>Config file</dt>
      <dd>{{ index .ViewData "CONFIG" }}</dd>
    </dl>

    <br>

    <h3>Commands</h3>

    <div>
      {{ if .ViewData.ROLE }}
      <a href="/cameras/{{ index .ViewData "DEVICE" }}/stop" class="btn btn-danger btn-block">Stop</a>
      {{ else }}
      <a href="/cameras/{{ index .ViewData "DEVICE" }}/start" class="btn btn-success btn-block">Start</a>
      {{ end }}
    </div>
  </div>
</div>


{{ end }}
